@media screen and (max-width: 1150px) {
    
body {
    padding-bottom: 200px;
}

.header-container {
    height: 45px;
}

.header-filter button {
    height: 22.5px;
    width: 22.5px;
    margin: 11.25px;
    background-size: 22.5px;
}

.header-search button {
    height: 22.5px;
    width: 22.5px;
    margin: 11.25px;
    background-size: 22.5px;
}

.header-burger button {
    height: 22.5px;
    width: 22.5px;
    margin: 11.25px;
    background-size: 22.5px;
}

.content {
    width: 45%;
}

footer {
    height: 100px;
}

.detail-article form {
    width:75%;
    margin-left: 12.5%;
}
}

@media screen and (max-width: 600px) {

#up-down {
    height: 30px;
    width: 20px;

}

#up-down.up {
    background-size: 100% 100%;

}

#up-down.down {
    background-size: 100% 100%;

}

.user form input[type=text], .user form input[type=password] {
    font-size: 14px;
    width: 150px;
    padding: 2px 2px 2px 6px;
    margin: 3px 1px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    transition: 0.5s;
    outline: none;
    display: block;
}

.user form div button{
    height: 30px;

    padding: 5px 10px;
    margin: 2px 5px 2px 5px;
    display: block;
}

.user form div .name {
    font-size: 14px;
    margin-top: 4px;
    display: block;
}


.header-container {
    height: 30px;
}

.header-filter button {
    height: 15px;
    width: 15px;
    margin: 7.5px;
    background-size: 15px;
}

.header-search button {
    height: 15px;
    width: 15px;
    margin: 7.5px;
    background-size: 15px;
}

.header-burger button {
    height: 15px;
    width: 15px;
    margin: 7.5px;
    background-size: 15px;
}

.content {
    width: 90%;
}

.add-article form {
    width: 100%;
    margin: 0;
}

.add-article form .tag {
    width:49%;
}

.detail-article form {
    width:100%;
    margin-left: 0;
}
}
