html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans","Open Sans",Helvetica,Roboto,Arial,sans-serif;
    position: relative;
    font-size: 62.5%;
    min-height: 100%;
    margin: 0;
    padding-bottom: 270px;
    background-color: #FAFAFA;
}

/* input, textarea, button - general settings */ 

input, textarea, .tag, select {
    box-sizing: border-box;
    border: 3px solid #E0E0E0;
    transition: 0.5s;
    outline: none;
}

button {
    transition: 0.5s;
    cursor: pointer;
    background-color: #212121;
    border: 3px solid #E0E0E0;
    color: #FAFAFA;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.display-none {
    display: none;
}

/* user */

.user {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 20;
    border-bottom: 1px solid #E0E0E0;
}

.user #button-user {
    position: fixed;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    cursor: pointer;
    
    background: url("../images/user.png") no-repeat;
    background-size: 20px;
}

.user form{
    margin-left: 60px;
    
    height: 60px;
    text-align: center;
}

.user form div {
    display: inline-table;
}

.user form div .name {
    font-size: 16px;
    color: #212121;
    margin-top: 20px;
    margin-right: 10px;
}

.user form div .user-name {
    font-style: italic;
}

.user form div button{
    height: 40px;

    padding: 8px 10px;
    margin: 10px 5px 10px 5px;
    background-color: #EEEEEE;
    border: 3px solid #E0E0E0;
    color: #212121;
}

.user form button {
    float: right;
    width: auto;
    height: 40px;

    border: 3px solid #E0E0E0;
    padding: 8px 10px;
    margin: 10px;
    display: inline-table;
}

.user form button:hover {
    border: 3px solid #212121;
}

.user form button:disabled {
    border: 3px solid #E0E0E0;
}

.user form input {
    font-size: 14px;
    width: 150px;
    padding: 8px 3px 8px 6px;
    margin: 13px 1px;
}

.user form input:focus {
    border: 3px solid #212121;
} 

/*header*/

header {
    top: 60px;
    height: auto;
    background-color: #F5F5F5;
    position: relative;
    border-top: 1px solid #E0E0E0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

header .logotype {
    text-align: center;
    width: 100%;
    height: auto;
}

.logotype .logotype-photo {
    padding: 20px;
    height: 9vw;
    width: 30%;
    min-height: 75px;
    min-width: 250px;
}

.header-container {
    clear: both;
    height: 60px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    margin: 0;
}

.header-filter {
    position: absolute;
    left: 0;
    display: inline-block;
    border-right: 1px solid #E0E0E0;
    cursor: pointer;
}

.header-filter button {
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    background: url("../images/filter.png");
    background-size: 20px;
}

.header-search {
    position: absolute;
    right: 0;
    display: inline-block;
    border-left: 1px solid #E0E0E0;
}

.header-search button {
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    
    background: url("../images/search.png");
    background-size: 20px;
}

.header-burger {
    position: absolute;
    margin-left: calc(50% - 30px);
    display: inline-block;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    cursor: pointer;
}

.header-burger button {
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    
    background: url("../images/menu.png") no-repeat;
    background-size: 20px;
}

/* dropdown-menu*/

.dropdown-menu { 
    text-align: center;
    background-color: #EEEEEE;
}

.dropdown-menu .dropdown-element {
    font-size: 16px;
    padding: 5px;
    color: #9E9E9E; 
    cursor: pointer;
}

.dropdown-menu .dropdown-element:hover {
    font-size: 20px;
    color: #212121;
}

.form-header {
    font-size: 20px;
    color: #212121;
    text-align: center;
    padding: 15px;
}

/* dropdown-search*/

.dropdown {
    border-top: 1px solid #E0E0E0;
    background-color: #EEEEEE;
}

.dropdown form {
    text-align: center;
    color: #212121;
}

.dropdown input[type=text] {
    width: 400px;
    padding: 13px 15px;
    margin: 8px 0;
}

.dropdown input[type=text]:focus {
    border: 3px solid #212121;
}

.dropdown input[type=date] {
    width: 199px;
    padding: 8px 0 8px 20px;
    margin: 8px 0;
}

.dropdown input[type=date]:focus {
    border: 3px solid #212121;
}

.dropdown label {
    font-size: 14px;
}

.dropdown button {
    width: 151px;
    padding: 8px 10px;
    margin: 8px 0 16px 0;
    
    border: 3px solid #E0E0E0;
}

.dropdown button:hover {
    border: 3px solid #212121;
} 

/* main */

#articles-wall {
    margin-top: 80px;
    width: 94%;
    margin-left:auto;
}

.grow { transition: all 0.3s ease-in-out; }

.grow:hover { 
    transform: scale(1.04);
    box-shadow: 3.5px 3px 2.5px 0px rgba(0,0,0,0.5);   
    cursor: pointer; 
}

.content {
    font-size: 14px;
    text-align: center;
    color: #FAFAFA;
    letter-spacing: 1.3px;
    
    width: 30%;
    height: 340px;
    margin: 6px;
    display: inline-table;
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url() no-repeat;
    background-size: 100% 100%;
    box-shadow: 1.6px 1.6px 1px 0px rgba(0,0,0,0.5);
}

.content-title {
    font-size: 18px;
    letter-spacing: 1.5px;
    padding-top: 70px;
}

.content:hover .content-title {
    text-decoration: underline;
}

.content:hover .addition-text {
    display: block;
}

.addition-text {
    padding-top: 70px;
}

.content .content-tags {
    padding: 5px; 
}

.content .content-date {
    font-size: 11px; 
}

.content .content-creator {
    padding: 5px; 
}

.content .addition-buttons{
    display: block;
}

.content .display-none{
    display: none;
}

.edit-new{
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    background-color: transparent;
    background-image: url("../images/edit-main.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.remove-new {
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    background-color: transparent;
    background-image: url("../images/remove-main.png");
    background-size: 100% 100%;
    cursor: pointer;
}

main .pagination {
    text-align: center; 
    margin-top: 70px;
}

main .pagination button {
    width: 150px;
    padding: 12px;
    border: 3px solid #9E9E9E;
}

main .pagination button:hover {
    border: 3px solid #212121;
}

/* error-form */

#error-form { 
    text-align: center;
    margin-top: 160px;
    width: 90%;
    height: 300px;
    margin-left: 5%;
}

#error-form div {
    font-size: 18px;
    font-family: "Playfair Display",Georgia;
    margin: 20px;
}

#error-form img {
    width: 100px;
    height: auto;
    font-family: "Playfair Display",Georgia;
}
/* article-details */

.detail-article {
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.detail-article form {
    width: 60%;
    margin-left: 20%;
    color: #212121;
    border: 1px solid #EEEEEE;
    background-color: #FFF; 
    text-align: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

.detail-article .header-article-detail {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #F5F5F5;
}

.detail-article p {
    color: #9E9E9E;
    font-size: 17px;
}

.detail-article #detail-title {
    font-family: "Playfair Display",Georgia;
    color:#212121;
    width: 70%;
    margin-left: 15%;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.detail-article #detail-date {
    font-size: 12px;
}

.detail-article .main-info-detail {
    padding: 20px 10px;
}

.detail-article #detail-photo {
    max-width: 90%;
}

.detail-article #detail-content {
    width: 90%;
    color: #212121;
    padding-left: 5%;
    font-size: 19px;
    text-align: justify;  
}

.detail-article button {
    margin: 8px;
    padding: 8px;
    border: 3px solid #E0E0E0;
}

.detail-article button:hover, .detail-article #go-back-button:hover {
    border: 3px solid #212121;
}

.detail-article #go-back-button {
    width:200px;
    margin-top: 30px;
    padding: 8px;
    border: 3px solid #E0E0E0;
}

/* background */

#background {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    height: 100%;
    z-index: 10;
    background: rgba(54,54,54,0.8);
}

#background form {
    position: fixed;
    border-radius: 8px;
    border: 2px solid #212121;
    height: 125px;
    top: 400px;
    text-align: center;
    margin-left: calc(50% - 225px);
    width: 450px;
    background: #FAFAFA;
    margin-bottom: 50px;
}

#background form p {
    font-size: 18px;
    color: #212121;
}

#background form button {
    margin: 8px;
    padding: 8px;
    border: 3px solid #E0E0E0;
}

#background form button:hover {
    border: 3px solid #212121;
}
/* add-article */

.add-article {
    margin-top: 80px;
    width: 100%;
}

.add-article form {
    width: 70%;
    margin-left: 15%;
}

.add-article form div {
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.add-article form .display-none {
    display: none;
}

.add-article form label {
    font-size: 15px;
    padding: 7px;
    letter-spacing: 0.4px;
    display: block;
}

.add-article form select, input {
    font-size: 15px;
    width: 100%;
    padding: 8px 3px 8px 6px;
    margin: 13px 1px; 
}

.add-article form .tag {
    font-size: 15px;
    width: 32%;
    padding: 8px 3px 8px 35px;
    margin: 13px 1px;
    background: url("../images/tag.png") no-repeat 5px 7px;
    background-size: 20px;    
}

.add-article form .tag:focus {
    border: 3px solid #212121;
}

.add-article form textarea:focus {
    border: 3px solid #212121;
}

.add-article form option {
    font-size: 15px;
}

.add-article form option:checked {
    font-size: 16px;
    background-color: #212121; 
    color: #FAFAFA;
}

.add-article form select:focus, input:focus {
    border: 3px solid #212121;
}

.add-article form textarea {
    font-size: 14px;
    width: 100%;
    height: 200px;
    padding: 8px 3px 8px 6px;
    margin: 13px 1px;
}

.add-article form button {
    width: 90%;
    padding: 8px 10px;
    margin: 30px 0 16px 5%;
    border: 3px solid #E0E0E0;
}

.add-article form #go-back-button {
    width: 40%;
    padding: 8px 10px;
    margin: 30px 0 16px 30%;
    border: 3px solid #E0E0E0;
    align-content: center;
}

.add-article form button:hover {
    border: 3px solid #212121;
}

.add-article form .example-photo {
    height: 150px;
    width: auto;
}
/* footer*/

footer {
    position: absolute;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;

    color: #FAFAFA;
    background-color: #212121;
    text-align: center;
}

#footer-bar {

    padding: 0;
    display: inline-block;
    width: 100%;
}

#footer-bar li {
    display: inline;
    width: 30%;
    float: left;
}

.footer-date {
    padding-top: 5%;
}

.footer-photo {
    height: 100%;
    width: 90%;
    padding: 20px;
    margin-left:12%; 
}

.footer-name {
    margin-left: 10%;
    padding-top: 3.5%;
}