html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    position: relative;
    font-size: 62.5%;
    min-height: 100%;
    margin: 0;
    padding-bottom: 15%;
    background-color: #E8F5E9;
}

/*header*/
header {
    top: 0;
    height: auto;
    background-color: #C8E6C9;
    position: relative;
}

#logotype {
    float: left;
    width: 70%;
}

.logotype-photo {
    margin: 2vw 5% 2vw 45%;
    height: 9vw;
    width: 50%;
}

#user-information {
    display: block;
    float: right;
    margin: 0.5%;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
}

#head-container #head-menu {
    clear: both;
    background-color: #66BB6A;
    border-top: 1px solid #C8E6C9;
    border-bottom: 1px solid #C8E6C9;
    height: auto;
}

.categories {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    width: 65%;
    margin: 0 0 0 20%;
    padding: 10px;
}

.categories li {
    display: inline;
    padding: 15px 2% 15px;
}

li .category {
    margin-top: 15px;
    color: #00243c;
    height: 30px;
    font-size: 1.4vw;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
}

.categories .icon {
    display: none;
}

li .category:hover {
    color: #FFB300;
}

.filter{
    align-content: center;
}
.filter form{
    margin: 15px 15%;
}
.filter form button{
    margin-left: 2%;
    outline: 0;
    padding: 5px 3%;
    background-color: #A5D6A7;
    border: 0;
}
/* Articles*/

#main-page {
    margin-top: 1%;
    width: 95%;
    margin-left: 2.5%;
}

.content {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #00243c;
    width: 24%;
    margin: 0.5%;
    display: inline-table;
}

.content-photo {
    height: 250px;
    width: 100%;
    margin: 0 0 0.2% 0;
}

.content-title {
    text-align: center;
}

.content-title:hover {
    color: #FFB300;
}

.content-text, .content-summary {
    margin: 1%;
    text-align: justify;
    font-size: 15px;
}

.addition-text {
    display: inline-block;
    width: 50%;
    margin: 2%;
    font-size: 12px;
}

.addition-buttons {

    float: right;
    width: 45%;
    display: inline-block;
}

.content-tags {
    margin: 1% 1% 0 1%;
    text-align: left;
    font-size: 14px;
}

.content-creater {
    max-width: 50%;
    margin: 1%;
    text-align: left;
    font-size: 12px;
}

.content-date {
    max-width: 50%;
    margin: 1%;
    text-align: left;
    font-size: 12px;
}

.edit-new {
    color: #00243c;
    background: transparent;
    border: none;
    float: right;
    font-size: 20px;
    margin-right: 3%;
}

.edit-new:hover {
    cursor: pointer;
    color: #FFB300;
}

.remove-new {
    color: #00243c;
    background: transparent;
    border: none;
    float: right;
    font-size: 20px;
}

.remove-new:hover {
    cursor: pointer;
    color: #FFB300;
}

.show-new {
    color: #00243c;
    background: transparent;
    border: none;
    float: right;
    font-size: 20px;
}

.show-new:hover {
    cursor: pointer;
    color: #FFB300;
}

.pagination {
    margin: 20px 20% 20px 40%;
    font-size: 20px;
    width: 40%;
}

.button-more {
    padding: 2% 5%;
    background-color: #A5D6A7;
    font-size: 15px;
    border: 1px solid #66BB6A;
}

/* footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    color: #00243c;
    background-color: #A5D6A7;
    text-align: center;
}

#footer-bar {

    padding: 0;
    display: inline-block;
    width: 100%;
}

#footer-bar li {
    display: inline;
    width: 30%;
    float: left;
}

.footer-date {
    padding-top: 5%;
}

.footer-photo {
    align-content: center;
    height: 100%;
    width: 100%;
    margin-left: 5%;
}

.footer-name {
    margin-left: 5%;
    padding-top: 3.5%;
}

.display-none {
    display: none;
}

.clearfix {
    clear: both;
}