html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans","Open Sans",Helvetica,Roboto,Arial,sans-serif;
    position: relative;
    font-size: 62.5%;
    min-height: 100%;
    margin: 0;
    padding-bottom: 270px;
    background-color: #FAFAFA;
}

/* user */

.user {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 10;
    border-bottom: 1px solid #E0E0E0;
}

.user #button-user {
    position: fixed;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    cursor: pointer;
    
    background: url("../images/user.png") no-repeat;
    background-size: 20px;
}

.user form{
    margin-left: 60px;
    
    height: 60px;
    text-align: center;
}

.user form div {
    display: inline-table;
}

.user form div .name {
    font-size: 16px;
    color: #212121;
    margin-top: 20px;
    margin-right: 10px;
}

.user form div .user-name {
    font-style: italic;
}

.user form div button{
    height: 40px;

    padding: 8px 10px;
    margin: 10px 5px 10px 5px;
    transition: 0.5s;
    background-color: #EEEEEE;
    border: 2px solid #E0E0E0;
    color: #212121;
    box-sizing: border-box;
    cursor: pointer;
}

.user form button {
    float: right;
    width: auto;
    height: 40px;

    padding: 8px 10px;
    margin: 10px;
    transition: 0.5s;
    background-color: #212121;
    border: 2px solid #E0E0E0;
    color: #FAFAFA;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-table;
}

.user form button:hover {
    border: 2px solid #212121;
}

.user form input[type=text] {
    font-size: 14px;
    width: 150px;
    padding: 8px 2px 8px 6px;
    margin: 12px 1px;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    transition: 0.5s;
    outline: none;
}

.user form input[type=text]:focus {
    border: 2px solid #212121;
} 

/*header*/

header {
    top: 60px;
    height: auto;
    background-color: #F5F5F5;
    position: relative;
    border-top: 1px solid #E0E0E0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

header .logotype {
    text-align: center;
    width: 100%;
    height: auto;
}

.logotype .logotype-photo {
    padding: 20px;
    height: 9vw;
    width: 30%;
    min-height: 75px;
    min-width: 250px;
}

.header-container {
    clear: both;
    height: 60px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    margin: 0;
}

.header-filter {
    position: absolute;
    left: 0;
    display: inline-block;
    border-right: 1px solid #E0E0E0;
    cursor: pointer;
}

.header-filter button {
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    background: url("../images/filter.png");
    background-size: 20px;
    cursor: pointer;
}

.header-search {
    position: absolute;
    right: 0;
    display: inline-block;
    border-left: 1px solid #E0E0E0;
    cursor: pointer;
}

.header-search button {
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    
    background: url("../images/search.png");
    background-size: 20px;
    cursor: pointer;
}

.header-burger {
    position: absolute;
    margin-left: calc(50% - 30px);
    display: inline-block;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    cursor: pointer;
}

.header-burger button {
    height: 20px;
    width: 20px;
    padding: 0; 
    margin: 20px;
    
    background: url("../images/menu.png") no-repeat;
    background-size: 20px;
    cursor: pointer;
}

/* dropdown-menu*/

.dropdown-menu { 
    text-align: center;
    background-color: #EEEEEE;
}

.dropdown-menu .dropdown-element {
    font-size: 16px;
    padding: 5px;
    color: #9E9E9E; 
    cursor: pointer;
}

.dropdown-menu .dropdown-element:hover {
    font-size: 20px;
    color: #212121;
}

.form-header {
    font-size: 20px;
    color: #212121;
    text-align: center;
    padding: 15px;
}

/* dropdown-search*/

.dropdown {
    border-top: 1px solid #E0E0E0;
    background-color: #EEEEEE;
}

.dropdown form {
    text-align: center;
    color: #212121;
}

.dropdown input[type=text] {
    width: 306px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #E0E0E0;
    transition: 0.5s;
    outline: none;
}

.dropdown input[type=text]:focus {
    border: 3px solid #212121;
}

.dropdown input[type=date] {
    width: 151px;
    padding: 8px 0 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #E0E0E0;
    transition: 0.5s;
    outline: none;
}

.dropdown input[type=date]:focus {
    border: 3px solid #212121;
}

.dropdown label {
    font-size: 14px;
    
}

.dropdown button {
    width: 151px;
    padding: 8px 10px;
    margin: 8px 0 16px 0;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #212121;
    border: 3px solid #E0E0E0;
    color: #FAFAFA
}

.dropdown button:hover {
    border: 3px solid #212121;
} 

/* general*/

button {
    outline: 0;
    border: 0;
}

.display-none {
    display: none;
}

/* main */

#articles-wall {
    margin-top: 80px;
    width: 94%;
    margin-left:auto;
    
}

.grow { transition: all .4s ease-in-out; }

.grow:hover { transform: scale(1.1); }

.content {
    font-size: 14px;
    text-align: center;
    color: #FAFAFA;
    letter-spacing: 1.3px;
    
    width: 30%;
    height: 340px;
    margin: 6px;
    display: inline-table;
    
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url() no-repeat;
    background-size: 100% 100%;
    box-shadow: 1.6px 1.6px 1px 0px rgba(0,0,0,0.5);
}

.content-title {
    font-size: 18px;
    letter-spacing: 1.5px;
    padding-top: 70px;
}

.content:hover .content-title {
    text-decoration: underline;
}

.content:hover .addition-text {
    display: block;
}

.addition-text {
    padding-top: 70px;
}

.content .content-tags {
    padding: 5px; 
}

.content .content-creator {
    padding: 5px; 
}

.content .addition-buttons{
    display: block;
}

.content .display-none{
    display: none;
}

.edit-new{
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 15px;
    background-color: transparent;
    background-image: url("../images/edit_main.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.remove-new {
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 15px;
    background-color: transparent;
    background-image: url("../images/remove_main.png");
    background-size: 100% 100%;
    cursor: pointer;
}

/* footer*/

footer {
    position: absolute;
    height: 150px;
    bottom: 0;
    left: 0;
    right: 0;

    color: #FAFAFA;
    background-color: #212121;
    text-align: center;
}

#footer-bar {

    padding: 0;
    display: inline-block;
    width: 100%;
}

#footer-bar li {
    display: inline;
    width: 30%;
    float: left;
}

.footer-date {
    padding-top: 5%;
}

.footer-photo {
    height: 100%;
    width: 90%;
    padding: 20px;
    margin-left:12%; 
}

.footer-name {
    margin-left: 10%;
    padding-top: 3.5%;
}


