html {
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-size: 62.5%;
}

#header {
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    height: 10rem;
    z-index: 10;
}

#div-navbar {
    padding: 2rem 1rem;
}

.logotype-photo {
    float: left;
    padding: 1rem;
    height: 4rem;
    outline-style: none;
}

#user-photo {
    float: right;
}

.user {
    float: right;
    margin-right: 5%;
}

.name {
    font-family: Tahoma;
    color: #FFC125;
    margin-top: 0.9rem;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
}

.round {
    border-radius: 50%; /* Радиус скругления */
    border: 2px solid #FFC125; /* Параметры рамки */
    margin: 10px;
}

.log-out {
    font-family: Tahoma;
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: underline;
    display: block;
    padding-left: 1rem;
}

.log-out:hover {
    color: #FFC125;
}


.box {
    float: left;
    margin: 1.5rem 0 0 9%;
}

.container {
    overflow: hidden;
    width: 400px;
    vertical-align: middle;
    white-space: nowrap;
}

.container input#search {
    width: 300px;
    height: 50px;
    background: #FFC125;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 15px;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: 2px 2px #FFD56D;

}

.container button.icon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: none;
    background: black;
    height: 50px;
    width: 50px;
    color: #FFC125;
    opacity: 0;
    font-size: 10pt;

    transition: all .55s ease;
}

.container:hover button.icon, .container:active button.icon, .container:focus button.icon {
    outline: none;
    opacity: 1;
}

.container:hover button.icon:hover {
    background: white;
}

#buttons {
    position: fixed;
    margin-top: 2rem;
    width: 100%;
}

.filter {
    float: left;
    margin-left: 0.5%;
    margin-right: 1%;
    display: inline-block;
}

.add {
    float: right;
    margin-right: 1.5%;
    margin-left: 10%;
    display: inline-block;
}

.posts {
    margin-top: 10.5rem;
    width: 78%;
    margin-left: 11%;
    z-index: 1;
    margin-bottom: 1rem;
}

.content {
    background-color: #FFC125;

    height: auto;
    width: 48%;
    margin: 0.5%;
    border: 1px solid black;
    font-size: 1.7em;
    display: inline-block;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: auto;
}

.content-photo {
    height: 13rem;
    width: auto;
    max-width: 99%;
    margin: 0.5%;
    border-top-left-radius: 20px;
}

.content-topic {
    text-align: center;
    margin-top: 1%;
    color: black;
}

.content-topic:hover {
    text-decoration: underline;
}

.content-text {
    margin: 1%;
    text-align: justify;
    font-size: 1rem;
    color: black;
}

.addition-text {
    display: inline-block;
    width: 50%;
    margin: 2%;
}

.addition-buttons {
    float: right;
    width: 45%;
    display: inline-block;
}

.content-tags {
    margin: 1% 1% 0 1%;
    text-align: left;
    font-size: 0.7rem;
    color: black;
}

.content-creater {
    max-width: 50%;
    margin: 1%;
    text-align: left;
    font-size: 0.6rem;
    color: black;
}

.content-date {
    max-width: 50%;
    margin: 1%;
    text-align: left;
    font-size: 0.6rem;
    color: black;
}

.edit-new {
    background: transparent;
    border: none;
    float: right;
    margin-right: 3%;
}
.edit-new:hover{
    cursor: pointer;
}

.remove-new {
    background: transparent;
    border: none;
    float: right;
}
.remove-new:hover{
    cursor: pointer;
}

.show-new {
    background: transparent;
    border: none;
    float: right;
}
.show-new:hover{
    cursor: pointer;
}

.pagination {
    margin: 1rem 30%;
    font-size: 2rem;
    width: 70%;
}

.pagination a {
    background-color: #FFC125;
    color: black;
    padding: 0 2%;
    text-decoration: none;
    box-shadow: 2px 1px #FFD56D;
}

.pagination a.active-page {
    background-color: black;
    color: white;
    box-shadow: 0 0;

}

.pagination a:hover:not(.active-page) {
    background-color: #FFFFFF;
}

#footer {
    position: absolute;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

#footer-bar {
    margin-top: 1%;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 1150px) {
    .box{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    header {
        width: 100%;
        left: 0;
    }

    .posts {
        margin-left: 2%;
        width: 96%;
    }

    .content {
        width: 98%;
        margin-left: 1%;
    }

    #div-navbar {
        padding-top: 0.5rem;
    }

    .logotype-photo {
        margin-top: 0;
        padding: 0 17%;
        height: 2.5rem;
        width: 60%;
    }

    .user {
        padding-top: 2%;
        margin-right: 2%;
    }

    .name {
        text-align: center;
        font-size: 1rem;
        display: inline-block;
    }

    .round {
        border: 1px solid #FFC125;
        margin: 5px;
    }

    .log-out {
        font-size: 1rem;
    }

    #buttons {
        margin-top: 0;
        z-index: 15;
        float: left;
    }

    .add {
        float: left;
        width: 3rem;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -6rem;
    }

    .filter {
        float: left;
        width: 3rem;
        height: auto;
        margin-left: 18%;
        margin-right: 5%;
        margin-top: -6rem;
    }

    .pagination {
        margin-left: 25%;
    }
}

.clearfix {
    clear: both;

}

.footer-name {
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    bottom: 0;
    color: #FFC125;
    font-size: 10px;
    display: inline-block;
}

.footer-date {
    margin-top: 4%;
    margin-left: 2%;
    float: left;
    bottom: 0;
    color: #FFC125;
    font-size: 10px;
    text-align: center;
    display: inline-block;
}
